.container{
    max-width: 1140px;
    margin: 0 auto;
    @include pad {
    max-width: 100%;
    padding: 0 39px;
    }
    @include mobile {
    padding: 0 15px;
    }
}
.row{
    @include mobile{
        padding: 0 15px;
    }
}
.header {
    background-color: $primary;
    @include pad {
        padding: 0 39px;
    }
    @include mobile {
        padding: 0 15px;
    }
    &-box {
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        background: url(../images/logo.png) no-repeat center;
        background-size: contain;
        width: 120px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        padding: 30px 0;
        @include pad {
            width: 100px;
        }
        @include mobile {
            width: 70px;
            padding: $text-m 0;
        }
        &:hover{
            opacity: 0.5;
            transition: all .3s;
        }
    }
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            display: none;
        }
    }
    &-item{
        a{
            color: $white;
            font-size: $text-m;
            line-height: 1.5;
            padding: 30px $text-l;
            @include pad {
                font-size: $text-base;
                padding: 30px $text-base;
            }
        }
        @include pad {
            font-size: $text-base;
        }
    }
    &-link {
        font-size: $text-m;
        color: $white;
    }
    &-link:hover{
        transform: scale(1.15);
        transition: .5s;
    }
    &-icon {
        &:hover {
            opacity: .6;
            transform: scale(1.2);
            transition: .5s;
        }
    }
}
.footer {
    &-item {
        img {
            width: 200px;
            padding: 24px 0;
        }
        p {
            color: #FFFFFF;
            font-size: 18px;
        }
    }
    &-logo {
        display: flex;
        justify-content: center;
        img {
            width: 150px;
        }
    }
    &-page {
        &-list {
            display: flex;
            justify-content: space-around;
        }
        &-item {
            a {
                color: #FFFFFF;
                font-size: $text-l;
                @include pad {
                    font-size: $text-m;
                }
                &:hover {
                    color: #FFFFFF;
                    transition: .6s;
                    transform: scale(1.1);
                }
            }
        }
        &-copyright {
            h3 {
                font-size: $text-l;
                color: #FFFFFF;
                @include pad {
                    font-size: $text-s;
                    text-align: center;
                }
            }
        }
    }

}
.hamburger-menu {
    background-color: #3e6bb8;
    opacity: 0.97;
    z-index: 100;
    width: 100%;
    height:320px;
    position: absolute;
    top: 60px;
    right: 0;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamburger-item {
    margin: 25px 0;
}
.hamburger-item a {
    color: $white;
}
.hamburger-item a:hover{
    color: $secondary;
    transition: .5s;
}
#toggler:checked ~ .hamburger-menu {
    transform: scaleY(1);
}

.hamburger  {
    position: relative;
    width: $text-2xl;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamburger span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $white;
    border-radius: 10px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 3px;
}
.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
    top: 14px;
}
.hamburger span:nth-child(4) {
    top: $text-l;
}
.hamburger.open span:nth-child(1) {
    top: $text-xs;
    width: 0%;
    left: 50%;
}
.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
    top: $text-xs;
    width: 0%;
    left: 50%;
}

.footer {
    background-color: $primary;
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $text-base $text-4xl;
    }
    &-list {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }
    &-item a {
        margin: $text-xxs 0;
        color: $white;
        font-size: $text-m;
        &:hover {
            color: $secondary;
            transition: .5s;
        }
        @include mobile {
            font-size: $text-s;
        }
    }
    &-login a {
        color: $white;
        font-size: $text-m;
        &:hover {
            color: $secondary;
            transition: .5s;
        }
        @include mobile {
            font-size: $text-s;
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-img {
            img {
                width: 100px;
                @include mobile {
                    width: 70px;
                }
            }
        }
        &-text {
            p {
                color: $white;
                font-size: $text-m;
                padding-top: $text-m;
                @include mobile {
                    display: none;
                }
            }
        }
    }
    &-login {
        display: flex;
        justify-content: center;
    }
}

.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:repeating-linear-gradient(135deg, 
    #3e6bb8 5%, #3e6bb8 5%, 
    #26497a 35%, #26497a 30%);
    /* background: repeating-linear-gradient(45deg,#3e6bb8, #00A8D2); */
    z-index: 100;
}
.loading {
    position: absolute;
    top: 45%;
    left: 43%;
    width: 240px;
    height: 240px;
    @include pad {
        top: 40%;
        left: 35%;
    }
    @include mobile {
        width: 160px;
        height: 160px;
        top: 40%;
        left: 30%;
    }
}