.about {
    &-list {
        color: #444444;
        margin-top: 64px;
        margin-bottom: 100px;
        @include pad {
            margin-bottom: 48px;
        }
        @include mobile {
            margin-bottom: 36px;
        }
    }
    &-text {
        padding: 0 48px;
        p {
            line-height: 30px;
            padding-top: 36px;
            @include pad {
                line-height: 24px;
            }
            @include mobile {
                font-size: 14px;
            }
            @include mobile {
                padding-top: 16px;
                padding-bottom: 48px;
            }
        }
        h3 {
            font-size: 40px;
            @include pad {
                font-size: 32px;
            }
            @include mobile {
                font-size: 28px;
            }
        }
    }
    &-img {
        img {
            width: 100%;
            height: 400px;
            @include pad {
                height: 380px;
            }
            @include mobile {
                height: 320px;
            }
        }
    }
    &-idea {
        text-align: center;
        p {
            font-size: 24px;
            @include mobile {
                font-size: 20px;
                padding-bottom: 48px;
            }
        }
    }
}
.mb-10 {
    margin-bottom: 120px;
    @include pad {
        margin-bottom: 100px;
    }
    @include mobile {
        margin-bottom: 48px;
    }
}