.contact {
    &-box {
        color: $black;
        margin-top: 80px;
        margin-bottom: $text-5xl;
        a {
            color: $black;
        }
        @include pad {
            margin-bottom: 0;
        }
    }
    &-form {
        input {
            border-radius: 10px;
        }
        textarea {
            border-radius: 10px;
        }
        h4 {
            font-size: $text-m;
            color: $white;
            @include mobile {
                font-size: $font-size-base;
            }
        }
        &-title {
            background-color: $primary;
            padding: $text-2l 0;
            font-size: $text-2l;
            color: $white;
        }
        &-content {
            background-image: url(../images/contact-banner.png);
            background-size: cover;
            opacity: .9;
            margin-bottom: 96px;
            @include pad {
                margin-bottom: $text-5xl;
            }
            @include mobile {
                margin-bottom: $text-2xl;
            }
        }
    }
}

.form-group {
    width: 50%;
    @include mobile {
        width: 100%;
    }
}