.news {
    &-banner {
        background-image: url(../../assets/images/news-banner.jpg);
        width: 100%;
        height: 360px;
        background-size: cover;
        background-position: center center;
        @include mobile {
            height: 260px;
        }
        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 360px;
            font-size: $text-4xl;
            color: #FFFFFF;
            @include mobile {
                height: 260px;
            }
            h3 {
                padding: $text-2xl 128px;
                background-color: rgba(2, 2, 2, 0.4);
                @include mobile {
                    font-size: $text-2xl;
                    padding: $font-size-base $text-4xl;
                }
            }
        }
    }
    &-main {
        &-item {
            color: $black;
            flex-direction: column;
            display: flex;
            column-gap: $font-size-base;
            @include pad {
                margin-bottom: $text-2xl;
            }
        }
        &-row {
            margin-bottom: 100px;
            @include pad {
                margin-bottom: $text-5xl;
            }
            @include mobile {
                margin-bottom: $text-4xl;
            }
        }
        &-list {
            margin-top: 80px;
            margin-bottom: $text-4xl;
            @include pad {
                margin-top: $text-4xl;
                margin-bottom: 0;
            }
        }
        &-text {
            padding: 0 24px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            h3 {
                text-align: center;
                font-size: 22px;
                padding-top: $font-size-base;
                padding-bottom: 8px;
            }
        }
        &-content {
            height: 160px;
            a {
                padding: 6px 8px;
                background-color: $primary;
                color: #FFFFFF;
                &:hover {
                    background-color: $secondary;
                    transition: .6s;
                }
            }
        }
    }
}